@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

h2 {
  margin-left:12px;
}

.login-form {
  position:relative;
  margin: 50px auto;
  width: 380px;
  height: auto;
}

.login-input {
  padding: 16px;
  border-radius:7px;
  border:0px;
  background: rgba(0, 117, 250, 0.274);
  display: block;
  margin: 15px;
  width: 300px;  
  color:white;
  font-size:18px;
  height: 54px;
}

.login-input:focus {
  color: white;
}

.login-button {
  float:right;
  height: 121px;
  width: 50px;
  border: 0px;
  background: #5187eac7;
  border-radius:7px;
  padding: 10px;
  color:white;
  font-size:22px;
}

.inputUserIcon {
  position:absolute;
  top:68px;
  right: 80px;
  color:white;
}

.inputPassIcon {
  position:absolute;
  top:136px;
  right: 80px;
  color:white;
}

input::-webkit-input-placeholder {
  color: white;
}

input:focus::-webkit-input-placeholder {
  color: white;;
}

.signup-button{
    padding: 16px;
    margin-left: 61%;
    text-decoration: none;
}

.error{
    margin-left: 4%;
}

.user-button{
  margin-left: 4%;
  width: 300px;  
  border: 0px;
  background: #5187eac7;
  border-radius:7px;
  padding: 10px;
  color:white;
  font-size:22px;
}